body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 5rem;
    margin: 35px auto;
}

p {
    font-size: 1.4rem;
}

#message-el {
    font-style: italic;
    font-size: 2rem;
    margin-top: 13px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.btn-name {
    margin-top: 10px;
}

#input {
    height: 35px;
}